body { background-color: #f7f7f7; }

#content { font-family: 'PT Serif', serif; padding-top: 35px; padding-left: 75px; max-width: 720px;}

h1 { font-size: 30px; font-weight: normal;}
h2 { font-size: 27px; font-weight: normal;}

.container {
	overflow: hidden;
	width: 90%;
	margin: 0px auto;
}

.float { float: left; }